@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-nubank-bg text-nubank-text font-sans antialiased;
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
