name: Deploy to VPS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    name: Deploy to VPS
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote ssh commands
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          script: |
            # Navegar até a pasta do projeto
            cd ~/bancocred
            
            # Baixar as últimas alterações do GitHub
            git pull origin main
            
            # Reconstruir e reiniciar os containers em produção
            docker compose -f docker-compose.prod.yml up --build -d
